:root {
  --color-bg: white;
  --color-main: blue;
  --color-accent: darkred;
  --color-text: gray;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 2rem 0;
  font-size: 2.4rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  width: 100%;
  height: 90vh;
  display: grid;
  grid-template-rows: auto auto 1fr auto;
  justify-content: center;
}

h1 {
  color: var(--color-main);
}

p,
h4 {
  color: var(--color-text);
}

.form {
  margin: 4rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}

input {
  padding: 0.4rem;
}

.btn {
  background-color: var(--color-bg);
  border-radius: 0.4rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  padding: 0.4rem;
}

.btn-add {
  border: 0.2rem solid var(--color-main);
}

.btn-add:hover {
  background-color: var(--color-main);
  color: var(--color-bg);
}

.btn-clr {
  border: 0.2rem solid var(--color-accent);
}

.btn-clr:hover {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

.btn-dlt {
  border: 0.1rem solid var(--color-accent);
  padding: 0 0.2rem;
  color: var(--color-accent);
  font-size: 1.2rem;
}

.btn-dlt:hover {
  background-color: var(--color-accent);
  color: var(--color-bg);
}

.list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 1.8rem;
  align-items: center;
}

.list ul {
  list-style: none;
  display: flex;
  overflow: auto;
  gap: 2.4rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  gap: 1.2rem;
  justify-content: center;
  align-content: flex-start;
}

.list ul li {
  font-size: 2rem;
  color: var(--color-main);
}

strong {
  color: var(--color-main);
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer .time {
  margin-top: 2rem;
  color: var(--color-accent);
}
